
@{
    ViewBag.Title = "Opcije";
}

<link href="~/Css/Opcije.css" rel="stylesheet" type="text/css" />
<h1>Opcije</h1>

<div>
    <a href="~/Posetilac/SviFitnesCentri">Fitnes Centri Za Prijavu</a>
    <a href="~/Posetilac/RanijiTreninzi">Grupni Treninzi Na Kojima Ste BIli</a>
</div>
