
@{
    ViewBag.Title = "Opcije";
}

<link href="~/Css/Opcije.css" rel="stylesheet" type="text/css" />
<h1>Opcije</h1>
<p id="greska">@ViewData["Greska"]</p>
<div>

    <a href="~/Vlasnik/Kreiraj">Kreiraj Fitnes Centar</a>
    <a href="~/Vlasnik/OdaberiFitnesCentar">Odaberi Fitnes Centar za Modifikaciju ili Brisanje</a>
    <a href="~/Vlasnik/PogledajSvojeFitnesCentre">Moji Fitnes Centri</a>
    <a href="~/Vlasnik/Regisitruj">Registruj Trenera</a>
    <a href="~/Vlasnik/OdaberiTrenera">Blokiraj Trenera</a>
    <a href="~/Vlasnik/PogledajKomentare">Pogledaj Komentare</a>
</div>
