
@{
    ViewBag.Title = "Opcije";
}

<link href="~/Css/Opcije.css" rel="stylesheet" type="text/css" />
<h1>Opcije</h1>

<div>
    <a href="~/Trener/Kreiraj">Kreiraj Grupni Trening</a>
    <a href="~/Trener/OdaberiGrupniTrening">Odaberi Grupni Trening za Modifikaciju ili Brisanje</a>
    <a href="~/Trener/PogledajSvojeGrupneTreninge">Grupni Treninzi </a>
    <a href="~/Trener/PogledajProsleGrupneTreninge">Prosli Grupni Treninzi </a>

</div>
